.main-area {
  position: fixed;
  top: 91px;
  left: 230px;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #ECEFF4;
}

.main-area h1 {
  color: #321140;
}

/* Styles for TOTAL SELLS */
.main-area .total-sells {
  background-color: #fff;
  color: black;
  height: 200px;
  width: 300px;
  margin-top: 80px;
  margin-left: -70px;
  box-shadow: 5px 5px 5px rgb(223, 223, 223);

}

.main-area .total-sells h5 {
  color: rgb(150, 148, 148);
  text-align: left;
  margin-left: 15px;
}

.main-area .total-sells h1 {
  text-align: center;
}

.main-area .total-sells h4 {
  text-align: center;
  color: green;
}

.main-area .total-sells p {
  color: rgb(150, 148, 148);
}

/* Styles for AVERAGE ORDER VALUE */
.main-area .average-order-value {
  background-color: #fff;
  color: black;
  height: 200px;
  width: 300px;
  margin-top: 80px;
  margin-left: 40px;
  box-shadow: 5px 5px 5px rgb(223, 223, 223);

}

.main-area .average-order-value h5 {
  color: rgb(150, 148, 148);
  text-align: left;
  margin-left: 15px;
}

.main-area .average-order-value h1 {
  text-align: center;
}

.main-area .average-order-value h4 {
  text-align: center;
  color: red;
}

.main-area .average-order-value p {
  color: rgb(150, 148, 148);
}

/* Style for TOTAL ORDERS */
.main-area .total-orders {
  background-color: #fff;
  color: black;
  height: 200px;
  width: 300px;
  margin-top: 80px;
  margin-left: 40px;
  box-shadow: 5px 5px 5px rgb(223, 223, 223);

}

.main-area .total-orders h5 {
  color: rgb(150, 148, 148);
  text-align: left;
  margin-left: 15px;
}

.main-area .total-orders h1 {
  text-align: center;
}

.main-area .total-orders h4 {
  text-align: center;
  color: green;
}

.main-area .total-orders p {
  color: rgb(150, 148, 148);
}

/* Style for ACTIVE USERS */
.main-area .active-users {
  background-color: #fff;
  color: black;
  height: 150px;
  width: 300px;
  margin-top: 310px;
  margin-left: -980px;
  box-shadow: 5px 5px 5px rgb(223, 223, 223);
}

.main-area .active-users h5 {
  color: rgb(150, 148, 148);
  text-align: left;
  margin-left: 15px;
}

.main-area .active-users h1 {
  text-align: center;
  background-color: #937a9d;
  margin-left: 40px;
  margin-right: 40px;
}

@media (min-width: 768px) {
  .main-area {
    top: 91px;
    left: 230px;
  }
}

@media (max-width: 767px) {
  .main-area {
    top: 0;
    left: 0;
  }

  .main-area .card {
    width: 90%;
    margin: 20px auto;
  }
}