.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  margin-top: 10px;
  /* background-color: #e6e6e6; */
}

body {
  margin: 0;
  padding: 0;
}

form {
  border: 2px solid #ccc;
  padding: 60px;
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  margin-top: -100px;
}

img {
  width: 250px;
  height: 300px;
}

input,
select,
button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: #8c54a4;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ac84bc;
}

a {
  color: #8c54a4;
  font-style: italic;
  font-weight: bold;
}

.success-message {
  color: green;
}


@media (max-width: 768px) {
  form {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  form {
    padding: 15px;
  }
}