*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.products
{
    padding: 30px 40px;
    width: 100%;
    
    border: 1px solid #e2e0e0;
}

.products h2
{
    font-size: 42px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    color: black;
}

.products p
{
    margin-top: 10px;
    color: #9a9a9a;
}

.products .container
{
    margin-top: 20px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.products .container .filter
{
    padding: 20px 30px;
}

.products .container .filter .categories h3
{
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.products .container .filter .categories ul
{
    margin-top: 10px;
}

.products .container .filter .categories ul li
{
    list-style: none;
    margin-top: 20px;
    color: black;
    cursor: pointer;
}

.products .container .productbox
{
    margin-right: 0;
}

.products .container .productbox .contant
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products .container .productbox .contant .box
{
    padding: 4px 20px;
    overflow: hidden;
    width: 280px;
    height: 350px;
    border: 1px solid #e2e0e0;
    margin-bottom: 20px;
    transition: 0.1s;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
}

.products .container .productbox .contant .box:hover
{
    box-shadow: rgba(0,0,0,0.35) 0px 10px 20px;
}

.products .container .productbox .contant .box .img_box
{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e0e0;
}

.products .container .productbox .contant .box .img_box img
{
    width: 210px;
    height: 250px;
    margin-right: 50px;
}

.products .container .productbox .contant .box .img_box .icon
{
    z-index: 1;
    position: relative;
    right: 0;
    flex-direction: column;
    display: flex;
}

.products .container .productbox .contant .box:hover .img_box .icon
{
    transform: translate(-50px);
}

.products .container .productbox .contant .box .img_box .icon li
{
    list-style: none;
    padding: 10px 10px;
    border: 1px solid #9a9a9a;
    color:  #010f1c;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
    background: #fff;
    transition: 0.5s;
    font-size: 18px;
}

.products .container .productbox .contant .box .img_box .icon li:hover
{
    background: rgb(140, 84, 161);
    color: #fff;
}

.products .container .productbox .contant .box .img_box:hover .icon
{
    transform: translate(-50px);
}

.products .container .productbox .contant .box .detail
{
    margin-top: 10px;
}

.products .container .productbox .contant .box .detail h3
{
    font-size: 16px;
    margin-top: 5px;
    color: black;
    transition: 0.5s;
}

.products .container .productbox .contant .box:hover .detail h3
{
    color: #0989ff;
}

.products .container .productbox .contant .box .detail h4
{
    margin-top: 5px;
    font-size: 14px;
    color: #0989ff;
    letter-spacing: 1px;
}

.products .container .productbox .contant .box:hover .detail h4
{
    color: #010f1c;
}

